<div class="container-fluid">

  <div class="row">

    <div class="col-md-4">

      <div class="user-list-card">
        <a routerLink='/contacts' routerLinkActive="router-link-active" >new discussion </a>
        <div class="user-card"
             *ngFor="let user of userList; let i = index"
            
             (click)="selectUserHandler(user.phonenumber)"
        >
        
          <img [src]="user.photo"
               [alt]="user.firstname"
               class="avatar"
          />
          <p class="username">{{user?.firstname}}</p>
       
        </div>
      </div>

    </div>
    <div class="col-md-8">

      <div class="chat-container">
        <ng-container *ngIf="selectedUser">
          <div class="chat-header">
            
            <img [src]="selectedUser.photo"
                 [alt]="selectedUser.firstname"
                 class="avatar"
            />
            <div class="username">{{selectedUser.firstname}}</div>
            <div class=""> ---- {{selectedUser.phonenumber}}----</div>

          </div>
          <a [href] ="uri">test</a>
          <div class="chat-body">
            <div 
                 
            >
              <p class="message-container"   *ngFor="let sms of messageText ; let i = index">
                <!-- <app-sms></app-sms> -->
                {{sms.content}}
              </p>
              
            </div>
          </div>

          <div class="chat-footer">
            <form [formGroup]="sendForm" (ngSubmit)="onSaveSms()">
            <div class="row">
              <div class="col-md-10">
                <div class="form-group mb-0">
                  <input name="textsend"  id="textsend" formControlName="textsend" type="text"
                         placeholder="write your message"
                         class="form-control"
                         
                  />
                </div>
              </div>

              <div class="col-md-2 text-center align-self-center">
                <button type="submit" class="btn btn-primary btn-sm px-3"
                        >Send
                </button>
              </div>

            </div>
            </form>
          </div>
        </ng-container>
      </div>

    </div>

  </div>

</div> 