<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2> signIn</h2>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
       <div class="form-group">
         <label for="email"> email</label>
         <input type="text" class="form-control" id='email' formControlName="email">
       </div>
       
       <div class="form-group">
        <label for="password"> password</label>
        <input type="text" class="form-control" id='password' formControlName="password">
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="signInForm.invalid">connexion</button>
      <button class="btn btn-danger" routerLink='/auth/resetpassword' routerLinkActive="router-link-active" >forgot password</button>
    </form>
    <p class="text-danger">{{errorMessage}}</p>
  </div>
</div>
 
   
