
h1,h2,h3,p{
  color: rgb(64, 135, 197);
}
.img{
  display: block;
  width: 100px;
  height: 100px;
  left: 4px;
  top: 0px;
  border-radius: 50%;
}
.list-group-item *{
  display: block;

}
.list-group-item{
  display: flex;
  border: none;
  background-color: rgb(235, 215, 215);
}
/* .list-group-item :hover{
  background-color: rgb(72, 72, 72) !important;
} */



 